<% if logged_in? %>
  
  <div class="row mb-5">
    <div class="col-10 offset-1">
      <%= render 'posts/posts', posts: @posts %>
    </div>
  </div>
  
  <div class="fixed-bottom text-right m-3 p-3" style="pointer-events: none;" >
    <%= link_to '投稿', new_post_path, class: 'toukou btn btn-lg border border-dark btn-dark', style: "pointer-events: auto;"%>
  </div>
  
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Yaeh!</h1>
      <div class="row">
        <div class="offset-md-2 col-md-4 mb-3">
          <p>アカウントをお持ちでない方！</p>
          <%= link_to '登録する', signup_path, class: 'btn btn-lg btn-primary' %>
        </div>
        <div class="col-md-4">
          <p>アカウントをお持ちですか？</p>
          <%= link_to 'ログイン', login_path, class: 'btn btn-lg btn-primary' %>
        </div> 
      </div>
      
    </div>
  </div>
<% end %>