<div class="container">
  <ul class="list-unstyled row">
    <% posts.each do |post| %>
      <li class="col-lg-3 col-md-4 col-6 mb-3">
        <div class="m-2">
          <div class="border">
            <% if post.img? %>
              <%= link_to image_tag(post.img.url, class: 'rounded img-fluid', alt: ""), post_path(post.id.to_i) %>
            <% else %>
              <%= link_to image_tag("no_image.png", size:'500x500', class: 'rounded img-fluid', alt: ""), post_path(post.id.to_i) %>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>